@font-face{
    font-family: karla;
    src: url(../fonts/Karla-Bold.woff2);
}
body{
    text-align: center;
    font-family: karla;
    background-color: #121212;
    /* background-color: black; */
    /* background-color: rgba(75 , 178, 249, 0.08); */
    /* background-color: black; */
    color: #66fcf1;
    color: white;
}
.container-fluid{
    padding: 0px 0px 0px 0px;
    margin: 0px;
    position: relative;
}
.row{
    margin: 0px;
}

/* Navigation Section */
#navHeader{
    padding: 0px;
    margin: 0px;
    width: 100%;
    top: 0px;
    z-index: 10;
    display: grid;
    background-color: rgba(75 , 178, 249, 0.08);

}
.navbar, .overlayHeader{
    grid-area: 1 / 1;
}
.overlayHeader{
    /* background-color: #0b0c1093; */
    /* background-color: rgba(0, 0, 0, 0.411); */
}
.navbar{
    padding: 0.5em 0.75em;
    margin: 0px;
    background-color: none;
    /* justify-content: center; */
}
.navbar a{
    color: #84c9fb;
    color: white;
    font-size: 1.25em;
}
.navbar ul a:hover{
    background-color: cadetblue;
}
.navbar-brand{
    margin: 0px;
    padding: 0px;
}
#logo{
    width: 25%;
}
#navbarNavDropdown{
    margin: 0px 10px 0px 0px;
    justify-content: flex-end;
}
.dropdown-menu{
    padding: 10px;
    min-width: 0px !important;
    
}
.dropdown-item{
    text-align: center;
    padding: 0px;
    color: #0b0c10 !important;
}
.navbar-toggler-icon{
    background-color: white;
}

/* Welcome Carousel Section */
#welcomeCarousel{
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#welcomeCarousel .carousel-indicators{
    margin: 0px;
    padding: 0px;
}
#welcomeCarousel .carousel, .overlay {
    /* grid-area: 1 / 1; */
  }
#welcomeCarousel .overlay{
    /* background-color: rgba(0, 0, 0, 0.411); */
    /* height: 100px; */
    /* box-sizing: inherit; */
    /* z-index: 5; */
}
#welcomeCarousel .carousel-control-prev-icon{
    z-index: 9;
    background-color: black;
}
#welcomeCarousel .carousel-control-next-icon{
    z-index: 9;
    background-color: black;
}
#workoutBtn{
    position: absolute;
    bottom: 0.25em;
    z-index: 10;
    margin: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#welcomeCarousel .carousel-item video{
    width: 960px;
}
#welcomeCarousel .carousel-item .carousel-caption{
    display: none;
    top: 0px;
    left: 0px;
    text-align: left;
}

/* Company Profile Section */
#companyProfile{
    margin: 2em 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#companyProfile .row{
    width: 90%;
    justify-content: center;
    align-items: center;
}
#introImg{
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 10px 0px 0px 10px;
}
#companyProfile p{
    padding: 20px;
    margin: 0px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, serif, Helvetica, sans-serif;
    font-weight: 500;

}
#companyProfile .row .col-md-6{
    padding: 0px;
}
#companyProfile .row{
    padding: 0px;
    background-color: rgba(75 , 178, 249, 0.08);
    border-radius: 10px;
}


/* Categories Section */
#categoriesSection{
    margin: 2em 0em 0em 0em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#categoriesSection .row{
    width: 90%;
    padding: 0px;
    background-color: rgba(75 , 178, 249, 0.05);
    border-radius: 10px;

}
#categoriesSection .col-md-4{
    margin: 0px;
    padding: 10px;
}
#categoriesSection .card{
    background-color: pink;
}
#categoriesSection .card-img-top{
    width: 100%;
}
#categoriesSection h2{
    text-transform: uppercase;
}

/* Membership types section */
#membershipSection{
    margin: 2em 0em 0em 0em;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#membershipSection h2{
    text-transform: uppercase;
    margin-bottom: 0.75em;
}
#membershipSection .card-deck{
    /* background-color: greenyellow; */
    /* width: 100%; */
    background-color: rgba(75 , 178, 249, 0.08);

}
#membershipSection .card{
    color: #0b0c10;
    /* background: linear-gradient(135deg, hsla(176, 96%, 69%, 1) 0%, hsla(213, 24%, 16%, 1) 100%);    width: 15em; */
    transition: transform 1s ease-in-out;
    /* transform: scale(1.1); */
    width: 20em;
    margin: 1.5em;
}
#membershipSection .card-body h3{
    /* background-color: #66fcf1; */
}
#membershipSection .card-text{
    display: none;
}
#membershipSection .wrapper .btn{
    /* background-color: #66fcf1; */
    background-color: #1f2833;
    color: white;
}
#membershipSection .wrapper .btn:hover{
    background-color: #66fcf1;
    background-color: white;
    color: #1f2833;
}
#membershipSection .card:hover{
    color: #1f2833;
    font-weight: bolder;
    transform: scale(1.2);
    background-color: #45a29e;
    background-color: #84c9fb;
    animation-name: zoom;
    animation-duration: inherit;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
@keyframes zoom{
    0% {transform: scale(1);}
    50% {}
    100% { transform: scale(1.1);} 
}
#membershipSection ul{
    list-style-type: none;
}



/* Staff and Management Team Section */
#teamSection{
    display: none;
    background-color: yellow;
    margin: 2em 0em 0em 0em;

}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    padding: 5px;
    margin: 50px 0px 0px 0px;
    background-color: none;
    background-color: rgba(75 , 178, 249, 0.08);
}
footer .gymInfo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.gymInfo p{
    padding: 0px;
    margin: 0px;
}
.icon{
    width: 2em;
    height: 2em;
    margin: 10px;
    background-color: white;
}

.ml10 {
    position: relative;
    /* font-weight: 900; */
    /* font-size: 3.3em; */
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
  }

@media all and (max-width: 575px){
    footer .gymInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .icon{
        width: 1.5em;
        height: 1.5em;
        margin: 10px 2.5px;
        background-color: white;
    }
    .gymInfo p{
        padding: 0px;
        margin: 0px;
        font-size: 1em;
    }
    .top{
        position: fixed;
        z-index: 100;
        top: 0;
        width: inherit;
        background-color: #171E24;
    }
    #welcomeCarousel .carousel-item video{
        width: 480px;
        padding-top: 3.5em;
    }
    body{
        padding-top: 100em;
    }
   
}


